<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>书籍修改</h2>
<h2>{{ edit_id.id }}</h2>
<form action="/book_add/" method="post">
    书籍名称：<input type="text" name="book_name" value="{{ book_name }}">
    出版社：
        {% for i in chuban_list %}
            { %if i.id == edit_id.id %}
                <option selecte value="{{ i.id }}">{{ i.name }}</option>
            {% else %}
                <option value="{{ i.id }}">{{ i.name }}</option>
            {% endif %}
        {% endfor %}

    <input type="submit" value="添加">
</form>
</body>
</html>

    出版社：<select name="chuban_name" id="">
                {% for i in chuban_list %}
                <option value="{{ i.id }}">{{ i.name }}</option>
                {% endfor %}
            </select>